.pageHead {
  width: 100vw;
  height: 60px;
  border-bottom: solid  rgb(255, 81, 0) 3px;
  display: flex;
  align-items: center;
}

.icon {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.headerTitle {
  font-size: 32px;
  margin: 0;
  color: rgb(29, 42, 54);
  font-weight: 500;
  text-decoration: none;
}

.desktopMenu {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
}

.navLink {
  transition: color 0.5s ease-out;
  font-weight: 300;

  margin-left: 20px;
  margin-top: 3px;
  margin-right: 5px;

  font-size: 20px;
  text-decoration: none;
  color: rgb(29, 42, 54);
}

.navLink:hover {
  color:  rgb(255, 81, 0);
}

.githubLogo {
  height: 30px;
}

.mobileMenu {
  display: none;
}

@media (max-width: 850px) {
    .desktopMenuLink {
      display: none;
    }

    .mobileMenu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 61px;
      width: 100vw;
      height: 50px;
      padding: 0px;
      margin: 0px;
      border-bottom: solid 1px black;
    }
  
  }

  @media (max-device-width: 500px) {
    .desktopMenuLink {
      display: none;
    }
    /* DONT DELETE COMMENT*/
    /* .mobileMenu {
      display: flex;
      position: absolute;
      top: 61px;
      width: 100vw;
      height: 50px;
      justify-content: space-around;
      padding: 0px;
      margin: 0px;
      border-bottom: solid 1px black;
      align-items: center;
    } */
    .pageHead {
      width: 100vw;
      height: 12vw;
      border-bottom: solid black 1px;
      display: flex;
      align-items: center;
    }
    .githubLogo {
      height: 6vw;
    }
    .headerTitle {
      font-size: 6vw;
      margin: 0;
      color: rgb(29, 42, 54);
    }
    .navLink {
      margin: 0px;
      font-size: 4vw;
      text-decoration: none;
      color: rgb(29, 42, 54);
    }
    .mobileMenu {
      display: flex;
      position: absolute;
      top: 12.1vw;
      width: 100vw;
      height: 10vw;
      justify-content: space-around;
      padding: 0px;
      margin: 0px;
      border-bottom: solid 1px black;
      align-items: center;
    }
    .icon {
      height: 6vw;
    }
  }
  