.linkBox {
  position: relative;
  bottom: 20px;
  background-color:  rgb(255, 81, 0);
  color: white;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px  rgb(255, 127, 67);
  margin: 1px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.linkBox:hover {
  margin: 0px;
  border: solid 4px  rgb(255, 81, 0);
}

#learn-more {
  transform: scale(1.1,1.1);
  position: relative;
  bottom: 20px;
  background-color:  rgb(255, 81, 0);
  color: white;
}